.icons{
    color: red;
    border-style: solid 2px #000;
    text-align: right;
    border-top: 3px solid red;
    padding-top: 10px;
}

.svg-icons{
    border:none;
    background-color: transparent;
    padding: 0 10px;
}

.title-bmc{
    margin-top: -18px;
    padding-bottom: 0.4em;
}

.break-word {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}