/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/*font rules */
/* font-family: 'Montserrat', sans-serif;  */

.bg{
  background-color: #CCCCCC;
}

.masterClass {
  font-family: "Montserrat", sans-serif;
}

.imagen {
  color: blanchedalmond;
  background-image: url("../../images/bg_header.png");
  height: 14rem;
}

.profile-picture {
  overflow: hidden;
  border-radius: 100%;
  width: 8em;
  height: 8em;
  border: 2px double;
  border-color: #dfe0eb;
}

.card {
  background-color: #ffffff;
  height: 95em;
  margin: 1em;
  top: -3em;
}

/*Phone*/
@media (max-width: 412px) {
  .card{
    height: 140em;
  }
}




.colum {
  text-align: center;
}

/*perfil picture*/

.avatar {
  background-color: #e5e5e5;
  height: 8em;
  width: 8em;
  border-radius: 100%;
  text-align: center;
  margin: auto;
  margin-top: -4em;
  box-shadow: 2px 3px 11px #a3a2a2;
}

.name {
  color: #3c4858;
  text-align: center;
  font-size: 1em;
  margin-top: 1.5em;
  font-weight: bold;
}

.instruccion {
  color: #3c4858;
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 4em;
}

.text_center {
  text-align: center;
 
}

p {
  color: 000000;
  font-size: 0.9em;
}

.field-container-form {
  background-color: #ffffff;
  border-radius: none;
  width: 18em;
  border-style: none;
  border-bottom: solid 1px #ccc;
  margin-bottom: 3.5em;
  padding: 0px;
  outline: none;
}

.field-container2 {
  background-color: #ffffff;
  border-radius: none;
  width: 100%;
  border-style: none;
  border-bottom: solid 1px #ccc;
  margin-bottom: 2.5em;
  outline: none;
  padding: 1em;
  margin-top: -2em;
}

.instruccion2 {
  text-align: left;
  font-size: 1.3em;
  margin-top: 1em;
  padding: 2em;
}

.btnsave {
  margin-top: 1em;
  background-color: red;
  border-radius: 0%;
  border: none;
  width: 10em;
}


.input_link {
  display: none;
}

.input_image {
  max-width: 8em;
}

.una{
  display: flex;
}

.col-md-6{
  margin-top: 4em;
}

.titulop{
  font-weight: bold;
  color: #000000;
  margin-bottom: 1.5em;
}

.instruccion3{
text-align: right;
font-size: 300;
margin-top: -2em;
font-size: 14pt;


}

/*Phone*/
@media (max-width: 412px) {
  .instruccion3{
    text-align: center;
    font-size: 10pt;
  }
   
  }


/*Tablet*/
@media (max-width: 800px) {
  .instruccion3{
    text-align: center;
    font-size: 10pt;
  }
}

